/* css styles */


.img-profile-right {
  float: right;
  margin-right: 3%;
  margin-left: 3%;
}
.img-profile {
  float: left;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.img-responsive {
  width: 35%; 
}

.img-responsive-larger {
  width: 50%; 
}

@media only screen and (max-width: 400px) {
  .img-responsive {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}